<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web chat</title>
  <link rel="stylesheet" href="http://localhost:3000/views/styles.css">
</head>

<body>
  <form action="" class="nickname-form">
    <label for="nickname-input">Change nickname</label>
    <input type="text" placeholder="nickname" data-testid="nickname-box" class="nickname-input" id="nickname-input">
    <button type="submit" data-testid="nickname-button">Salvar</button>
  </form>

  <main>
    <div class="online-users-container">
      <h3>Online users</h3>

      <ul class="online-user-list">
      </ul>
    </div>

    <div class="chat">
      <ul class="list-message"></ul>

      <form action="" class="new-message-form">
        <input type="text" placeholder="Type a message" data-testid="message-box" class="message-input">
        <button data-testid="send-button" type="submit" class="message-button">
          <img class="send-icon" src="../images/send.png" alt="Send Icon">
          Send
        </button>
      </form>
    </div>
  </main>


  <script src="/socket.io/socket.io.js"></script>
  <script src="../scripts/webchat.js"></script>
</body>

</html>